@{
    ViewBag.Title = "Index";
}

<h2>列表</h2>
<p>
    @Html.ActionLink("Display List", "List")
</p>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <table class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>
                    @Html.DisplayName("表格1")
                </th>
                <th>
                    @Html.DisplayName("表格2")
                </th>
            </tr>

            
                <tr>
                    <td>
                        @Html.DisplayName("表格1")
                    </td>
                    <td>
                        @Html.DisplayName("表格1")
                    </td>
                </tr>
            

        </table>

    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <table class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>
                    @Html.DisplayName("表格1")
                </th>
                <th>
                    @Html.DisplayName("表格2")
                </th>
            </tr>

            
                <tr>
                    <td>
                        @Html.DisplayName("表格1")
                    </td>
                    <td>
                        @Html.DisplayName("表格1")
                    </td>
                </tr>
            

        </table>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <table class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>
                    @Html.DisplayName("表格1")
                </th>
                <th>
                    @Html.DisplayName("表格2")
                </th>
            </tr>

            
                <tr>
                    <td>
                        @Html.DisplayName("表格1")
                    </td>
                    <td>
                        @Html.DisplayName("表格1")
                    </td>
                </tr>
            

        </table>
    </div>
</div>
